openapi: 3.0.1
info:
  title: 'Geozo Public API'
  version: 1.0.0
  description: 'Attention! Bid changes are made in USD only'
servers:
  - url: 'https://api.geozo.com'
    description: Production
security:
  - ApiKeyAuth: []
paths:
  /v1/advertiser/stats/tmp_with_postbacks:
    get:
      tags:
        - advertiser_stats_filters
      summary: 'Request statistics for the advertiser'
      operationId: getAllFilteredAdvertiserStats
      parameters:
        - name: 'filters[date_from]'
          in: query
          required: true
          schema:
            type: string
            example: '2018-01-01'
        - name: 'filters[date_to]'
          in: query
          required: true
          schema:
            type: string
            example: '2020-12-31'
        - name: 'filters[campaign_id_in][]'
          in: query
          schema:
            type: integer
        - name: 'filters[ad_group_id_in][]'
          in: query
          schema:
            type: integer
        - name: 'filters[ad_id_in][]'
          in: query
          schema:
            type: integer
        - name: 'filters[country_code_in][]'
          in: query
          schema:
            type: string
        - name: 'filters[device_type_id_in][]'
          in: query
          schema:
            type: integer
        - name: 'filters[block_id_in][]'
          in: query
          schema:
            type: integer
        - name: 'filters[traffic_source_id_in][]'
          in: query
          schema:
            type: integer
        - name: 'groups[0]'
          in: query
          required: true
          description: 'Group by: date, month, week, campaign_id, ad_group_id, ad_id, country_code, device_type_id, block_id, language_code, traffic_source_id, webmaster_category_id, block_format_type_id'
          schema:
            type: string
            enum:
              - date
              - month
              - week
              - webmaster_category_id
              - block_id
              - block_format_type_id
              - campaign_id
              - ad_group_id
              - ad_id
              - country_code
              - device_type_id
              - language_code
              - traffic_source_id
        - name: 'order_by[0][column]'
          in: query
          required: true
          schema:
            type: string
        - name: 'order_by[0][direction]'
          in: query
          required: true
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: count
          in: query
          schema:
            type: integer
            default: 20
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Ok
        '404':
          description: Not found
        '422':
          description: Unprocessable Entity
        '429':
          description: Too many requests
  /v1/advertiser/balance:
    get:
      tags: [balance]
      summary: 'Advertisers balance'
      operationId: Balanceget
      parameters:
        - name: currency
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Ok
  /v1/advertiser/balance/history:
    get:
      tags: [balance]
      summary: 'Advertisers balance history'
      operationId: Balancegethistory
      parameters:
        - name: 'order_by[column]'
          in: query
          schema:
            type: string
            enum: [payment_method, processed_at, amount, status_id]
            default: processed_at
        - name: 'order_by[direction]'
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: count
          in: query
          schema:
            type: integer
            default: 15
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Ok
  /v1/advertiser/ads/all:
    get:
      tags: [ads]
      summary: 'Get all Account ads'
      operationId: getAllAds
      parameters:
        - name: count
          in: query
          schema:
            type: integer
            default: 20
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: 'filters[date_from]'
          in: query
          schema:
            type: string
        - name: 'filters[date_to]'
          in: query
          schema:
            type: string
        - name: 'filters[status_id_in][]'
          in: query
          schema:
            type: integer
        - name: 'order_by[0][column]'
          in: query
          schema:
            type: string
            default: clicks_count
        - name: 'order_by[0][direction]'
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: ok
  /v1/advertiser/ads/all/start:
    put:
      tags: [ads]
      summary: 'Start selected ads'
      operationId: startAllAds
      requestBody:
        content:
          application/json:
            schema:
              required: [ids]
              properties:
                ids:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: ok
  /v1/advertiser/ads/all/stop:
    put:
      tags: [ads]
      summary: 'Stop selected Ads'
      operationId: stopAllAds
      requestBody:
        content:
          application/json:
            schema:
              required: [ids]
              properties:
                ids:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: ok
  /v1/advertiser/ads/all/bid:
    put:
      tags: [ads]
      summary: 'Change the bid for all ads'
      operationId: changeBidForAllAds
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: ['ids[]', one_bid_for_all_geo]
              properties:
                'ids[]':
                  type: integer
                  description: 'Ad id value'
                one_bid_for_all_geo:
                  type: number
                  format: float
                  description: 'The bid value for all regions'
      responses:
        '200':
          description: ok
  '/v1/advertiser/ad_groups/{ad_group_id}/ads/teaser/create':
    post:
      tags: [ads]
      summary: 'Create a native ad'
      operationId: createTeaser
      parameters:
        - name: ad_group_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              required: [title, original_url, 'media_content_file_square[file]', 'media_content_file_horizontal[file]']
              properties:
                title:
                  type: string
                  minLength: 30
                  maxLength: 120
                original_url:
                  type: string
                one_bid_for_all_geo:
                  type: number
                  format: float
      responses:
        '200':
          description: ok
  '/v1/advertiser/ad_groups/{ad_group_id}/ads/teaser/update/{ad_id}':
    post:
      tags: [ads]
      summary: 'Update a native ad'
      operationId: updateTeaser
      parameters:
        - name: ad_group_id
          in: path
          required: true
          schema:
            type: integer
        - name: ad_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ok
  '/v1/advertiser/ad_groups/{ad_group_id}/ads/remoderate/{ad_id}':
    post:
      tags: [ads]
      summary: 'Remoderate an ad'
      operationId: remoderateAd
      parameters:
        - name: ad_group_id
          in: path
          required: true
          schema:
            type: integer
        - name: ad_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ok
  '/v1/advertiser/campaigns/{campaign_id}/ad_groups':
    get:
      tags: [ad_groups]
      summary: 'Get a list of all campaign groups'
      operationId: getAllAdGroups
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Ok
    post:
      tags: [ad_groups]
      summary: 'Create a Campaign group'
      operationId: createAdGroup
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Ok
  '/v1/advertiser/ad_groups/{ad_group_id}':
    get:
      tags: [ad_groups]
      summary: 'Get Ad group by ad_group_id'
      operationId: getAdGroup
      parameters:
        - name: ad_group_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Ok
    put:
      tags: [ad_groups]
      summary: 'Edit an ad group by id'
      operationId: updateAdGroup
      parameters:
        - name: ad_group_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Ok
  /v1/advertiser/campaigns:
    post:
      tags: [campaigns]
      summary: 'Create a campaign'
      operationId: createCampaign
      responses:
        '200':
          description: Ok
  '/v1/advertiser/campaigns/{campaign_id}':
    get:
      tags: [campaigns]
      summary: 'Get a campaign by id'
      operationId: getCampaign
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Ok
    put:
      tags: [campaigns]
      summary: 'Edit a campaign by id'
      operationId: updateCampaign
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Ok
  /v1/targeting/min_bids:
    get:
      tags: [dictionaries]
      summary: 'Get a list of minimum bids for all geo'
      operationId: getMinBids
      responses:
        '200':
          description: Ok
  /v1/targeting/countries:
    get:
      tags: [dictionaries]
      summary: 'Get a list of available countries'
      operationId: getGeoCountries
      responses:
        '200':
          description: Ok
  /v1/targeting/device_types:
    get:
      tags: [dictionaries]
      summary: 'Get a list of available device types'
      operationId: getDeviceTypes
      responses:
        '200':
          description: Ok
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Private-Token
