openapi: 3.1.0
info:
  title: Geozo Advertiser API
  description: |
    OpenAPI specification for the Geozo native advertising platform API.
    Used by the GEOZO AUTOMATION MEGA-SYSTEM (ТИЗЕР-МАШИНА) for automated
    campaign management, teaser creation, bid optimization, and analytics.
  version: 1.0.0
  contact:
    name: Geozo Support

servers:
  - url: https://api.geozo.com/v1
    description: Production API

security:
  - privateToken: []

paths:
  # ==================== ACCOUNT ====================
  /account/register:
    post:
      operationId: registerAccount
      tags: [Account]
      summary: Register new advertiser account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 6
      responses:
        '200':
          description: Account registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'

  # ==================== BALANCE ====================
  /advertiser/balance:
    get:
      operationId: getBalance
      tags: [Balance]
      summary: Get current account balance
      responses:
        '200':
          description: Balance info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'

  /advertiser/balance/history:
    get:
      operationId: getBalanceHistory
      tags: [Balance]
      summary: Get balance change history
      parameters:
        - name: filters[date_from]
          in: query
          schema:
            type: string
            format: date
        - name: filters[date_to]
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Balance history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceHistoryResponse'

  # ==================== CAMPAIGNS ====================
  /advertiser/campaigns:
    get:
      operationId: listCampaigns
      tags: [Campaigns]
      summary: List all campaigns
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Campaign list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'

    post:
      operationId: createCampaign
      tags: [Campaigns]
      summary: Create new campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCreateRequest'
      responses:
        '200':
          description: Campaign created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  /advertiser/campaigns/{campaign_id}:
    get:
      operationId: getCampaign
      tags: [Campaigns]
      summary: Get campaign details
      parameters:
        - $ref: '#/components/parameters/campaignId'
      responses:
        '200':
          description: Campaign details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

    put:
      operationId: updateCampaign
      tags: [Campaigns]
      summary: Update campaign
      parameters:
        - $ref: '#/components/parameters/campaignId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignUpdateRequest'
      responses:
        '200':
          description: Campaign updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'

  # ==================== AD GROUPS ====================
  /advertiser/campaigns/{campaign_id}/ad_groups:
    get:
      operationId: listAdGroups
      tags: [Ad Groups]
      summary: List ad groups in campaign
      parameters:
        - $ref: '#/components/parameters/campaignId'
      responses:
        '200':
          description: Ad group list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupListResponse'

    post:
      operationId: createAdGroup
      tags: [Ad Groups]
      summary: Create ad group in campaign
      parameters:
        - $ref: '#/components/parameters/campaignId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdGroupCreateRequest'
      responses:
        '200':
          description: Ad group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupResponse'

  /advertiser/ad_groups/{ad_group_id}:
    get:
      operationId: getAdGroup
      tags: [Ad Groups]
      summary: Get ad group details
      parameters:
        - $ref: '#/components/parameters/adGroupId'
      responses:
        '200':
          description: Ad group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupResponse'

    put:
      operationId: updateAdGroup
      tags: [Ad Groups]
      summary: Update ad group settings
      parameters:
        - $ref: '#/components/parameters/adGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdGroupUpdateRequest'
      responses:
        '200':
          description: Ad group updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupResponse'

  # ==================== ADS (TEASERS) ====================
  /advertiser/ads/all:
    get:
      operationId: listAllAds
      tags: [Ads]
      summary: List all ads with filters
      parameters:
        - name: filters[status_id_in][]
          in: query
          description: |
            Filter by status IDs:
            1 = Active/Started
            2 = Stopped
            3 = Banned
            4 = Pending moderation
            5 = On moderation
          schema:
            type: array
            items:
              type: integer
              enum: [1, 2, 3, 4, 5]
        - name: filters[ad_group_id]
          in: query
          schema:
            type: integer
        - name: filters[campaign_id]
          in: query
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Ads list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdListResponse'

  /advertiser/ad_groups/{ad_group_id}/ads/teaser/create:
    post:
      operationId: createTeaser
      tags: [Ads]
      summary: Create a new teaser ad
      parameters:
        - $ref: '#/components/parameters/adGroupId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [title, original_url]
              properties:
                title:
                  type: string
                  description: Teaser headline (30-120 characters)
                  minLength: 30
                  maxLength: 120
                original_url:
                  type: string
                  format: uri
                  description: Landing page URL
                media_content_file_square[file]:
                  type: string
                  format: binary
                  description: Square image 1:1 (1080x1080)
                media_content_file_horizontal[file]:
                  type: string
                  format: binary
                  description: Horizontal image 16:9 (1920x1080)
                one_bid_for_all_geo:
                  type: number
                  format: float
                  description: Single bid for all geos
                geo_bids:
                  type: object
                  description: Per-country bids
                  additionalProperties:
                    type: number
                    format: float
      responses:
        '200':
          description: Teaser created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'

  /advertiser/ads/teaser/update/{ad_id}:
    post:
      operationId: updateTeaser
      tags: [Ads]
      summary: Update teaser ad
      parameters:
        - $ref: '#/components/parameters/adId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 30
                  maxLength: 120
                original_url:
                  type: string
                  format: uri
                media_content_file_square[file]:
                  type: string
                  format: binary
                media_content_file_horizontal[file]:
                  type: string
                  format: binary
      responses:
        '200':
          description: Teaser updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'

  /advertiser/ads/remoderate/{ad_id}:
    post:
      operationId: remoderateAd
      tags: [Ads]
      summary: Send ad for remoderation
      parameters:
        - $ref: '#/components/parameters/adId'
      responses:
        '200':
          description: Sent to remoderation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /advertiser/ads/all/bid:
    put:
      operationId: updateAdsBid
      tags: [Ads]
      summary: Update bids for ads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ads:
                  type: array
                  items:
                    type: object
                    required: [ad_id]
                    properties:
                      ad_id:
                        type: integer
                      one_bid_for_all_geo:
                        type: number
                        format: float
                      geo_bids:
                        type: object
                        additionalProperties:
                          type: number
                          format: float
      responses:
        '200':
          description: Bids updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /advertiser/ads/all/start:
    put:
      operationId: startAds
      tags: [Ads]
      summary: Start (activate) ads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ad_ids:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Ads started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /advertiser/ads/all/stop:
    put:
      operationId: stopAds
      tags: [Ads]
      summary: Stop (pause) ads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ad_ids:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Ads stopped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ==================== STATISTICS ====================
  /advertiser/stats/tmp_with_postbacks:
    get:
      operationId: getStatsWithPostbacks
      tags: [Statistics]
      summary: Get statistics with postback data
      description: |
        Main statistics endpoint. Supports grouping by multiple dimensions
        and filtering by date range, campaign, ad group, ad, country, etc.
      parameters:
        - name: filters[date_from]
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: filters[date_to]
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: filters[campaign_id]
          in: query
          schema:
            type: integer
        - name: filters[ad_group_id]
          in: query
          schema:
            type: integer
        - name: filters[ad_id]
          in: query
          schema:
            type: integer
        - name: groups[]
          in: query
          description: |
            Grouping dimensions: ad_id, campaign_id, ad_group_id,
            country_code, device_type_id, block_id, date, hour
          schema:
            type: array
            items:
              type: string
              enum:
                - ad_id
                - campaign_id
                - ad_group_id
                - country_code
                - device_type_id
                - block_id
                - date
                - hour
        - name: order_by[0][column]
          in: query
          schema:
            type: string
        - name: order_by[0][direction]
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Statistics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'

  # ==================== TARGETING ====================
  /targeting/min_bids:
    get:
      operationId: getMinBids
      tags: [Targeting]
      summary: Get minimum bids by geo
      parameters:
        - name: country_code
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Minimum bids info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MinBidsResponse'

  /targeting/countries:
    get:
      operationId: getCountries
      tags: [Targeting]
      summary: Get available countries for targeting
      responses:
        '200':
          description: Countries list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'

  /targeting/device_types:
    get:
      operationId: getDeviceTypes
      tags: [Targeting]
      summary: Get available device types
      responses:
        '200':
          description: Device types list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeviceType'

  /targeting/os:
    get:
      operationId: getOperatingSystems
      tags: [Targeting]
      summary: Get available operating systems
      responses:
        '200':
          description: OS list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OperatingSystem'

  /targeting/browsers:
    get:
      operationId: getBrowsers
      tags: [Targeting]
      summary: Get available browsers
      responses:
        '200':
          description: Browser list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Browser'

  /targeting/isps:
    get:
      operationId: getIsps
      tags: [Targeting]
      summary: Get available ISPs
      responses:
        '200':
          description: ISP list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Isp'

components:
  securitySchemes:
    privateToken:
      type: apiKey
      in: header
      name: Private-Token
      description: Geozo API authentication token

  parameters:
    campaignId:
      name: campaign_id
      in: path
      required: true
      schema:
        type: integer
    adGroupId:
      name: ad_group_id
      in: path
      required: true
      schema:
        type: integer
    adId:
      name: ad_id
      in: path
      required: true
      schema:
        type: integer

  schemas:
    # --- Common ---
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer

    # --- Account ---
    AccountResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: integer
            email:
              type: string
            api_token:
              type: string

    # --- Balance ---
    BalanceResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            balance:
              type: number
              format: float
            currency:
              type: string
              default: USD

    BalanceHistoryResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              amount:
                type: number
                format: float
              type:
                type: string
                enum: [deposit, spend, refund]
              description:
                type: string
              created_at:
                type: string
                format: date-time
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # --- Campaign ---
    Campaign:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
          enum: [active, paused, archived]
        daily_budget:
          type: number
          format: float
        total_budget:
          type: number
          format: float
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CampaignCreateRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        daily_budget:
          type: number
          format: float
        total_budget:
          type: number
          format: float

    CampaignUpdateRequest:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum: [active, paused, archived]
        daily_budget:
          type: number
          format: float
        total_budget:
          type: number
          format: float

    CampaignResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Campaign'

    CampaignListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Campaign'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # --- Ad Group ---
    AdGroup:
      type: object
      properties:
        id:
          type: integer
        campaign_id:
          type: integer
        name:
          type: string
        status:
          type: string
          enum: [active, paused]
        countries:
          type: array
          items:
            type: string
        device_types:
          type: array
          items:
            type: integer
        time_targeting:
          type: object
          description: Schedule as hours-of-day per day-of-week
          properties:
            monday:
              type: array
              items:
                type: integer
            tuesday:
              type: array
              items:
                type: integer
            wednesday:
              type: array
              items:
                type: integer
            thursday:
              type: array
              items:
                type: integer
            friday:
              type: array
              items:
                type: integer
            saturday:
              type: array
              items:
                type: integer
            sunday:
              type: array
              items:
                type: integer
        blacklist_blocks:
          type: array
          items:
            type: integer
        whitelist_blocks:
          type: array
          items:
            type: integer
        coefficients:
          type: object
          properties:
            os:
              type: object
              additionalProperties:
                type: number
                format: float
            browsers:
              type: object
              additionalProperties:
                type: number
                format: float
            isps:
              type: object
              additionalProperties:
                type: number
                format: float
        created_at:
          type: string
          format: date-time

    AdGroupCreateRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        countries:
          type: array
          items:
            type: string
        device_types:
          type: array
          items:
            type: integer
        time_targeting:
          type: object
        blacklist_blocks:
          type: array
          items:
            type: integer
        whitelist_blocks:
          type: array
          items:
            type: integer
        coefficients:
          type: object

    AdGroupUpdateRequest:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum: [active, paused]
        countries:
          type: array
          items:
            type: string
        device_types:
          type: array
          items:
            type: integer
        time_targeting:
          type: object
        blacklist_blocks:
          type: array
          items:
            type: integer
        whitelist_blocks:
          type: array
          items:
            type: integer
        coefficients:
          type: object

    AdGroupResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AdGroup'

    AdGroupListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AdGroup'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # --- Ad (Teaser) ---
    Ad:
      type: object
      properties:
        id:
          type: integer
        ad_group_id:
          type: integer
        title:
          type: string
        original_url:
          type: string
        status_id:
          type: integer
          description: |
            1 = Started, 2 = Stopped, 3 = Banned,
            4 = Pending moderation, 5 = On moderation
        status_name:
          type: string
        ban_reason:
          type: string
        one_bid_for_all_geo:
          type: number
          format: float
        geo_bids:
          type: object
          additionalProperties:
            type: number
            format: float
        media_content_square:
          type: object
          properties:
            url:
              type: string
              format: uri
        media_content_horizontal:
          type: object
          properties:
            url:
              type: string
              format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AdResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Ad'

    AdListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Ad'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # --- Statistics ---
    StatRecord:
      type: object
      properties:
        ad_id:
          type: integer
        campaign_id:
          type: integer
        ad_group_id:
          type: integer
        country_code:
          type: string
        device_type_id:
          type: integer
        block_id:
          type: integer
        date:
          type: string
          format: date
        hour:
          type: integer
        shows_count:
          type: integer
        confirmed_shows_count:
          type: integer
        clicks_count:
          type: integer
        money:
          type: number
          format: float
        ctr:
          type: number
          format: float
        cpc:
          type: number
          format: float
        postbacks_count:
          type: integer
        postbacks_confirmed_money:
          type: number
          format: float

    StatsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StatRecord'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # --- Targeting ---
    MinBidsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              country_code:
                type: string
              min_bid:
                type: number
                format: float
              recommended_bid:
                type: number
                format: float

    Country:
      type: object
      properties:
        code:
          type: string
        name:
          type: string

    DeviceType:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string

    OperatingSystem:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string

    Browser:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string

    Isp:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
